<!DOCTYPE html>
<html>
  <head>
    <title>MessengerApp</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
    <% begin %>
	  <%= stylesheet_link_tag 'application', 'data-turbolinks-track' => 'reload', media: 'all' %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
	<% rescue %>
	  <script>
	    window.location.replace "#{user_session_url()}"
	  </script>
	<% end %>
  </head>

  <body>
  	<%= render 'layouts/navigation' %>
	<div class="ui container">
      <%= render 'layouts/messages' %>
    	<%= yield %>
    </div>
  </body>
</html>
